SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
ADMIN_PASSWORD=

FCM_SERVER_KEY=
FIREBASE_CREDENTIALS_PATH=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
